@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.PostCard {
  &Wrapper {
    &Breadcrumbs {
      grid-column: 1 / span 4;
      font-size: rem(12);
      line-height: rem(28);
      letter-spacing: rem(0.25);
    }
    h1 {
      grid-column: 2 / span 6;
    }
    &Content {
      grid-column: 2 / span 10;
      display: flex;
      flex-direction: column;
      row-gap: rem(26);
      & > * {
        flex-grow: 0;
      }
      &Image {
        background-repeat: none;
        background-size: cover;
        background-position: center center;
        height: rem(250);
        width: 100%;
      }
      &Details {
        display: inline-flex;
        column-gap: rem(40);
        &Categories {
          & > *:not(:last-child) {
            &::after {
              content: ", ";
            }
          }
        }
      }
    }
  }
}
