@import "@styles/mixins";
@import "@styles/variables";

.bannerImage {
  position: relative;
  z-index: 1;

  &Container {
    position: relative;
    height: rem(240);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include breakpoint($medium) {
      height: rem(360);
    }
    @include breakpoint($large) {
      height: 90vh;
      min-height: rem(768);
    }
  }
}
