@import "@styles/mixins";
@import "@styles/variables";

.hero {
  position: relative;
  padding-top: rem(78);
  background-image: url("/assets/icons/icon-panel-type-2-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @include breakpoint($large) {
    padding-top: rem(135);
  }

  &Wrapper {
    padding-bottom: rem(25);
    @include grid-container;

    @include breakpoint($large) {
      padding-bottom: rem(125);
    }
    @include below($medium) {
      padding-bottom: rem(125);
    }
  }

  &Breadcrumb {
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
  }

  &Content {
    position: relative;
    h1 {
      font-size: rem(104);
      line-height: 1;
    }

    h3 {
      font-size: rem(48);
      line-height: rem(56);
    }

    &Top {
      color: $grey;
      @include breakpoint($large) {
        margin: 0;
        align-items: center;
        grid-gap: rem(32) !important;
        @include grid(1, 12);
      }
      &Title {
        @include breakpoint($large) {
          grid-column: 2 / span 5;
          margin: 0;
        }
      }
      &Image {
        @include breakpoint($xx-large) {
          grid-column: 7 / span 3;
        }
      }
      &Action {
        @include breakpoint($xx-large) {
          grid-column: 10 / span 2;
        }
        &Buttons {
          display: flex;
          flex-direction: column;
          gap: rem(24);
        }
      }
    }

    &Bottom {
      color: $grey;
      @include breakpoint($large) {
        margin: 0;
        align-items: center;
        grid-column: 1 / span 12;
        @include grid(1, 12);
      }
      &Text {
        @include breakpoint($large) {
          grid-column: 2 / span 5;
          margin: 0;
        }
      }
    }
  }
}
