@import "@styles/mixins";
@import "@styles/variables";

.offerHero {
  position: relative;
  padding-top: rem(78);
  background-repeat: no-repeat;
  background-size: cover;
  @include breakpoint($large) {
    height: 100vh;
    padding-top: rem(135);
    min-height: rem(800);
  }

  &:before {
    background: linear-gradient(
      180.02deg,
      $white 33.84%,
      rgba(255, 255, 255, 0) 91.13%
    );
  }

  .heroWrapper {
    @include grid-container;
    padding-bottom: rem(84);
    @include breakpoint($large) {
      padding-bottom: rem(125);
    }
  }
  .heroBreadcrumb {
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
  }

  .heroContent {
    position: relative;
    padding-top: rem(56);
    @include breakpoint($large) {
      padding: rem(96) 0;
    }

    h1 {
      color: $grey;
      font-size: rem(40);
      line-height: 1;
      margin-bottom: rem(16);
      @include breakpoint($large) {
        font-size: rem(112);
        margin-bottom: rem(76);
      }
    }
    h3 {
      color: $grey;
      font-size: rem(16);
      line-height: rem(26);
      @include breakpoint($large) {
        font-size: rem(48);
        line-height: rem(56);
      }
    }

    &Top {
      @include breakpoint($large) {
        @include grid(1, 12);
      }

      &Main {
        @include breakpoint($large) {
          grid-column: 1 / span 6;
        }
        @include breakpoint($xx-large) {
          grid-column: 2 / span 5;
        }
      }
      &Extra {
        @include breakpoint($large) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          grid-column: 7 / span 7;
        }
        @include breakpoint($xx-large) {
          grid-column: 7 / span 6;
        }

        &Image {
          width: rem(200);
          margin-left: auto;
          margin-bottom: rem(42);
          @include breakpoint($large) {
            width: 50%;
            margin: 0;
          }
        }
        &Action {
          @include breakpoint($large) {
            width: 50%;
            text-align: center;
          }
          &Buttons {
            @include grid(1, 1);
            @include breakpoint($xx-large) {
              width: auto !important;
              display: inline-grid !important;
            }
          }
        }
      }
    }
  }
}

.bgHero {
  position: relative;
  padding-top: rem(78);
  background-repeat: no-repeat;
  background-size: cover;
  @include breakpoint($large) {
    padding-top: rem(135);
  }
  &:before {
    background: linear-gradient(
      180.02deg,
      #ffffff 33.84%,
      rgba(255, 255, 255, 0) 91.13%
    );
  }

  .heroWrapper {
    padding-bottom: rem(25);
    @include grid-container;

    @include breakpoint($large) {
      padding-bottom: rem(125);
    }
    @include below($medium) {
      padding-bottom: rem(125);
    }
  }

  .heroBreadcrumb {
    color: $white;
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
  }

  .heroContent {
    position: relative;
    h1 {
      color: $white;
      font-size: rem(104);
      line-height: 1;
    }

    h3 {
      color: $white;
      font-size: rem(48);
      line-height: rem(56);
    }

    &Top {
      color: $grey;
      margin-top: rem(80);
      margin-bottom: rem(80);
      @include breakpoint($large) {
        align-items: center;
        grid-gap: rem(32) !important;
        @include grid(1, 12);
      }
      &Title {
        @include breakpoint($large) {
          grid-column: 2 / span 5;
          margin: 0;
        }
      }
    }

    &Bottom {
      color: $grey;
      @include breakpoint($large) {
        margin: 0;
        align-items: center;
        grid-column: 1 / span 12;
        @include grid(1, 12);
      }
      &Text {
        @include breakpoint($large) {
          grid-column: 2 / span 5;
          margin: 0;
        }
      }
      &Action {
        @include breakpoint($large) {
          grid-column: 2 / span 5;
          margin: 0;
        }
        &Buttons {
          display: flex;
          align-items: center;
          gap: rem(16);
        }
      }
    }
  }
}
