@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.featuredVideo {
  padding-top: rem(82);
  padding-bottom: rem(68);
  @include breakpoint($large) {
    padding-top: rem(136);
    padding-bottom: rem(68);
  }

  &Wrapper {
    @include breakpoint($large) {
      @include grid-container;
      @include grid(1, 12);
    }
  }
  &Breadcrumb {
    grid-column: 1 / span 4;
    @include below($large) {
      padding: 0 rem(16);
    }
  }

  h1 {
    margin: rem(32) 0 rem(24);
    grid-column: 2 / span 6;
    @include below($large) {
      padding: 0 rem(16);
    }
  }

  &Content {
    grid-column: 2 / span 10;
    & > * {
      flex-grow: 0;
    }
    &Image {
      background-repeat: none;
      background-size: cover;
      background-position: center center;
      height: rem(250);
      width: 100%;
      border-radius: rem(16);
      @include breakpoint($large) {
        height: rem(560);
      }
    }
    &Details {
      padding-top: rem(24);
    }
  }
}
