@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.button {
  padding: rem(20) rem(18);
  color: $white;
  font-weight: 800;
  font-size: rem(16);
  line-height: rem(20);
  letter-spacing: rem(1);
  font-family: inherit;
  border-radius: rem(4);
  transition: all 0.3s ease;
  text-transform: uppercase;
  border-width: 0;
  cursor: pointer;

  &:hover {
    background-color: $white;
    color: $primary;
    border-color: $primary;
  }

  &.primary {
    background-color: $primary;

    &:hover {
      color: $white;
      // background-color: $dark-primary;
    }
  }

  &.secondary {
    color: $primary;
    border: 0;
    background-color: $primary;

    &:hover {
      // background-color: $light-yellow;
    }
  }

  &.dark {
    color: $primary;
    // border: rem(2) solid $light-primary;
    background-color: $grey;

    &:hover {
      border-color: $primary;
    }
  }

  &.outlineLight {
    color: $white;
    border: rem(2) solid $white;
    background-color: transparent;

    &:hover {
      color: $primary;
      background-color: $white;
    }
  }
}
