@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.card {
  background-image: url("/assets/icons/icon-panel-type-1.svg");
  background-size: cover;
  border-radius: rem(16);
  padding: rem(64) rem(108) rem(32) rem(32);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(16);
  &.imageCard {
    color: $white;
    .cardHeader {
      h5 {
        font-size: rem(32);
        line-height: rem(42);
      }
    }
  }
  .cardHeader {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(16);
    h1 {
      font-family: inherit;
      font-weight: bold;
      font-size: rem(88);
      line-height: 1;
    }
    h5 {
      width: 75%;
      font-family: inherit;
      font-weight: bold;
      font-size: rem(18);
      line-height: rem(26);
    }
  }
  .cardContent {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(16);
    p {
      font-family: inherit;
      font-weight: normal;
      font-size: rem(16);
      line-height: rem(26);
      letter-spacing: rem(0.25);
    }
    .cardActions {
      text-align: left;
      button {
        margin-top: rem(60);
        @include below($medium) {
          width: 100%;
        }
      }
    }
  }
  @include below($medium) {
    padding: rem(48) rem(24) rem(24);
    .cardHeader {
      h1 {
        font-size: rem(40);
        line-height: rem(40);
      }
      h5 {
        font-size: rem(16);
        line-height: rem(26);
      }
    }
  }
}
.cardLarge {
  background-image: url("/assets/icons/icon-panel-type-2-desktop.svg");
  background-size: cover;
  border-radius: rem(16);
  padding: rem(80);
  width: 100%;
  display: flex;
  &.imageCard {
    color: $white;
    .cardHeader {
      h1 {
        @include below($medium) {
          font-size: rem(38);
          line-height: rem(40);
        }
      }
      h5 {
        font-size: rem(32);
        line-height: rem(42);
        @include below($medium) {
          font-size: rem(16);
          line-height: rem(26);
        }
      }
    }
  }
  .cardHeader {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(66);
    h1 {
      font-family: inherit;
      font-weight: bold;
      font-size: rem(100);
      line-height: 1;
    }
    h5 {
      width: 75%;
      font-family: inherit;
      font-weight: bold;
      font-size: rem(26);
      line-height: rem(32);
    }
    @include below($medium) {
      gap: rem(24);
    }
  }
  .cardContent {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(16);
    p {
      font-family: inherit;
      font-weight: normal;
      font-size: rem(22);
      line-height: rem(34);
      letter-spacing: rem(0.25);
    }
    .cardActions {
      button {
        @include below($medium) {
          width: 100%;
          margin-top: rem(60);
        }
      }
    }
  }
  @include below($medium) {
    padding: rem(48) rem(24) rem(24);
    flex-direction: column;
    .cardHeader {
      h1 {
        font-size: rem(38);
        line-height: rem(40);
      }
      h5 {
        font-size: rem(16);
        line-height: rem(26);
      }
    }
  }
}
.alignRight {
  text-align: right;
}
