@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.mobileMenu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: rem(82);
  background-color: $grey;
  transition: all 1s ease;
  display: flex;

  &Wrapper {
    flex: 1;
    overflow: auto;
    padding-bottom: rem(24);
    @include breakpoint($large) {
    }
  }

  p {
    font-weight: 700;
    font-size: rem(20);
    line-height: rem(34);
  }

  &Back {
    display: inline-flex;
    align-items: center;
    margin: rem(20) 0;
    margin-left: rem(16);
    cursor: pointer;

    p {
      color: $primary;
      text-transform: uppercase;
      margin-left: rem(8);
    }
  }

  &List {
    margin: 0;
    padding: 0 rem(16);
    list-style-type: none;

    &Item {
      border-bottom: rem(1) solid $light-grey;
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}
