@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.button {
  border-radius: rem(4);
  border: 1px solid $grey;
  padding: rem(12) rem(16);
  width: 100%;
  font-family: inherit;
  font-size: rem(16);
  font-weight: bold;
  line-height: rem(24);
  min-height: rem(50);
  color: $grey;
  cursor: pointer;
  &[color="primary"] {
    color: $grey;
    background-color: $primary;
  }
  &[color="secondary"] {
    color: $primary;
    background-color: $grey;
  }
  &[color="default"] {
    color: $primary;
    background-color: $white;
  }
  &[type="button"] {
    &:hover {
      color: $grey;
      background-color: $white;
    }
  }
  &[type="submit"] {
    border-radius: 0;
  }
}
