@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.estateFilter {
  margin: 0 rem(16);
  @include breakpoint($medium) {
  }

  &Wrapper {
    padding: rem(24);
    display: flex;
    background-color: $white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: rem(78);

    @include breakpoint($large) {
      padding: rem(24) rem(56);
    }
  }

  &Mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(16);
    @include breakpoint($large) {
      display: none;
    }
  }

  &Desktop {
    display: none;
    @include breakpoint($large) {
      display: block;
    }
  }
}
