@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.estateFilter {
  margin: 0 rem(16);
  position: relative;
  @include breakpoint($large) {
    text-align: center;
  }

  &Wrapper {
    padding: rem(24);
    background-color: $white;
    box-shadow: 0px 0px rem(1) rgba(0, 0, 0, 0.25),
      0px rem(3) rem(4) rgba(0, 0, 0, 0.1);
    border-radius: rem(78);

    @include breakpoint($large) {
      padding: rem(24) rem(56);
      display: inline-block;
    }
  }

  &Mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(16);
    justify-content: center;
    @include breakpoint($large) {
      display: none;
    }
  }

  &Desktop {
    display: none;
    @include breakpoint($large) {
      display: flex;
      align-items: center;
    }

    span {
      font-weight: 700;
      font-size: rem(16);
    }

    &ViewBy {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: rem(24);
      align-items: center;
      padding-right: rem(24);
      border-right: rem(1) solid $grey1;
    }

    &SortBy {
      display: flex;
      align-items: center;
    }
  }
}
