@import "@styles/mixins";
@import "@styles/variables";

.CardGrid {
  // TODO: For the paddings, we don't need to set them inside global component too
  position: relative;
  @include grid-container;
  @include breakpoint($large) {
    @include grid(1, 12);
    row-gap: 0 !important;
  }

  h2 {
    color: $grey;
    margin-bottom: rem(24);
    @include breakpoint($large) {
      grid-column: 1 / span 12;
      margin-bottom: rem(50);
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }
  }
  h4 {
    color: $grey;
    margin-bottom: rem(24);
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }
  }

  &Child {
    max-width: 100%;
    // overflow: hidden;
  }
}

.GridWrapper {
  display: grid;
  @include breakpoint($large) {
    grid-column: 1 / span 12;
  }
  @include breakpoint($xx-large) {
    grid-column: 2 / span 10;
  }
}

.buttonRow {
  display: flex;
  column-gap: rem(16);
  @include breakpoint($medium) {
    margin-top: rem(24);
  }
  @include breakpoint($large) {
    margin-top: rem(60);
    grid-column: 1 / span 12;
  }
  @include breakpoint($xx-large) {
    grid-column: 2 / span 10;
  }
}
