@import "@styles/mixins";
@import "@styles/variables";

.CardGrid {
  // TODO: For the paddings, we don't need to set them inside global component too
  position: relative;
  @include grid-container;
  @include breakpoint($large) {
    @include grid(1, 12);
    row-gap: 0 !important;
  }
  // TODO: Josh please do not use this for global components, you can check the design
  // background: rgb(255, 255, 255);
  // background: linear-gradient(
  //   180deg,
  //   rgba(255, 255, 255, 1) 0%,
  //   rgba(237, 242, 245, 1) 100%
  // );
  h2 {
    color: $grey;
    grid-column: 2 / span 12;
    margin-bottom: rem(24);
    @include breakpoint($large) {
      margin-bottom: rem(50);
    }
  }
}

.GridWrapper {
  display: grid;
  column-gap: rem(18);
  row-gap: rem(18);
  grid-column: 2 / span 10;
}
