@import "@styles/mixins";
@import "@styles/variables";

.easyBuy {
  position: relative;
  background: $grey2;
  padding: rem(80) 0;
  @include breakpoint($medium) {
    padding: rem(600) 0 rem(120);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      179.44deg,
      #ffffff 61.01%,
      rgba(255, 255, 255, 0) 103.32%
    );
  }

  &Wrapper {
    position: relative;
    @include grid-container;
    @include breakpoint($large) {
      @include grid(1, 12, 0);
    }
  }

  &Inner {
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }
  }

  &Content {
    &Heading {
      @include breakpoint($large) {
        max-width: 50%;
      }
    }
    h3 {
      font-size: rem(24);
      line-height: 1.5;
      margin-bottom: rem(24);
      @include breakpoint($large) {
        font-size: rem(64);
        line-height: 1.1;
      }
    }

    h4 {
      margin-top: rem(56);
      @include breakpoint($large) {
        margin-top: rem(80);
        padding-bottom: rem(80);
        border-bottom: rem(1) solid $primary;
      }
    }
  }
}
