@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.TabbedContent {
  &Wrapper {
    position: relative;
    @include grid-container;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include breakpoint($large) {
      @include grid(1, 12);
    }
  }
  .TabWrapper {
    position: absolute;
    display: flex;
    top: rem(-52.5);
    width: 100%;
    grid-column: 1 / span 12;
    align-items: center;
    justify-content: center;
    .TabContainer {
      display: flex;
      background-color: $white;
      padding: 1.25rem 5rem;
      border-radius: rem(78);
      align-items: center;
      justify-content: center;
      gap: 3.375rem;
      max-width: 40rem;
      min-height: 6.625rem;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
        0px 3px 4px rgba(0, 0, 0, 0.1);
      @include below($medium) {
        padding: 1.25rem;
        gap: 0.5rem;
        max-width: 21.625rem;
      }
      .Divider {
        width: 1px;
        height: rem(54);
        // margin: 0 rem(58);
        background-color: $grey3;
      }
    }
  }

  .locationWrapper {
    grid-column: 1 / span 13;
    background: #edf2f5;
    padding: 0 !important;
    @include grid-container;
    @include breakpoint($large) {
      @include grid(1, 12);
    }
  }

  .dropdownWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: rem(48);
    border-bottom: rem(1.16) solid $grey;
    margin-bottom: rem(38);
    h4 {
      font-size: 1.5rem;
      line-height: 2.25rem;
      font-weight: 700;
    }
    @include below($medium) {
      grid-template-columns: 1fr;
    }
  }

  .Content {
    padding-top: rem(127);
    padding-bottom: rem(163);
    padding-left: rem(160);
    padding-right: rem(160);
    background-color: $primary;
    grid-column: 1 / span 8;
    @include below($medium) {
      padding: rem(80) rem(20) rem(120) rem(20);
    }
    h6 {
      max-width: 425px;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 7px;
    }
    h4 {
      max-width: 425px;
      margin-bottom: 40px;
    }
  }
}
.dropdown {
  border-radius: rem(4);
  border: 1px solid $grey;
  padding: rem(12) rem(16);
  width: 100%;
  font-size: rem(16);
  line-height: rem(24);
  margin-bottom: rem(38);
  color: $grey;
  &::before {
    content: "/";
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    color: #2e2e2e;
  }
  &::placeholder {
    color: $grey;
  }
}

.gridWrapper {
  grid-column: 1 / span 12;
}

.locationCard {
  width: 100%;
  background-color: #fff;
  padding: rem(24);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: rem(8);
  .divider {
    background: $primary;
    height: 1px;
    width: 100%;
    margin-top: rem(24);
    margin-bottom: rem(24);
  }
}
