@import "@styles/mixins";
@import "@styles/variables";

.storyVideo {
  &Wrapper {
    @include grid-container;
  }

  &Inner {
    position: relative;
    @include breakpoint($large) {
      max-width: rem(1200);
      margin: 0 auto;
    }
  }

  &Image {
    position: relative;
    height: rem(240);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: rem(4);
    overflow: hidden;
    @include breakpoint($medium) {
      height: rem(400);
    }
    @include breakpoint($large) {
      height: rem(675);
      border-radius: rem(6);
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      clip-path: polygon(0 0, 0% 100%, 70% 100%);
      background: linear-gradient(
        344.99deg,
        $primary 0%,
        rgba(255, 203, 5, 0) 81.47%
      );
    }

    &Play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      flex-direction: column;

      svg {
        width: rem(30);
        height: rem(30);
        @include breakpoint($large) {
          width: rem(100);
          height: rem(100);
        }
      }

      h5 {
        color: $white;
        line-height: 1;
        font-size: rem(14);
        margin-top: rem(8);
        @include breakpoint($large) {
          font-size: rem(48);
          margin-top: rem(32);
        }
      }
    }
  }

  &LogoImage {
    width: rem(120);
    height: rem(120);
    position: absolute;
    right: 0;
    bottom: rem(-60);
    @include breakpoint($medium) {
      width: rem(240);
      height: rem(240);
      bottom: rem(-120);
    }
    @include breakpoint($webXLarge) {
      width: rem(420);
      height: rem(420);
      right: rem(-180);
      bottom: rem(-210);
    }
  }
}
