@import "@styles/mixins";
@import "@styles/variables";

.shareIcons {
  display: grid;
  gap: rem(24);
  &.horizontalShareIcons {
    grid-auto-flow: column;
    .shareIconsTitle {
      color: $black;
      font-size: rem(16);
      line-height: rem(24);
      @include below($medium) {
        display: none;
      }
    }
    .shareIconsWrapper {
      .shareIconList {
        display: grid;
        grid-auto-flow: column;
        @include breakpoint($large) {
          gap: rem(24);
        }
        @include below($medium) {
          gap: rem(12);
        }
      }
      .shareIconItem {
        @include below($medium) {
          background-color: $black;
          border-radius: rem(4);
          padding: rem(4) rem(24);
          text-align: center;
          svg {
            path {
              fill: $white;
              stroke: $black;
            }
          }
        }
      }
    }
  }
  &.verticalShareIcons {
    grid-auto-flow: row;
    .shareIconsTitle {
      color: $black;
      font-size: rem(16);
      line-height: rem(24);
      @include below($medium) {
        display: none;
      }
    }
    .shareIconsWrapper {
      .shareIconList {
        display: grid;
        grid-auto-flow: row;
        gap: rem(24);
        .shareIconItem {
          @include below($medium) {
            background-color: $black;
            border-radius: rem(4);
            padding: rem(4) rem(24);
            text-align: center;
            svg {
              path {
                fill: $white;
                stroke: $black;
              }
            }
          }
        }
      }
    }
  }
}
