@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.logosPanel {
  display: grid;
  padding-top: rem(40);
  padding-bottom: rem(80);
  background-color: $grey2;
  @include grid-container;

  @include breakpoint($large) {
    padding-top: rem(84);
    padding-bottom: rem(84);
    @include grid(1, 12);
  }

  .logosWrapper {
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }

    h3 {
      text-align: center;
      font-size: rem(24);
      line-height: rem(33.6);
      @include breakpoint($large) {
        font-size: rem(48);
        line-height: rem(55);
      }
    }

    .logosList {
      display: flex;
      margin-top: rem(20);
      flex-direction: column;
      @include breakpoint($medium) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: rem(42);
      }

      &Item {
        width: 100%;
        padding-top: rem(20);
        padding-bottom: rem(20);
        @include breakpoint($medium) {
          width: 50%;
          padding: rem(24);
        }
        @include breakpoint($large) {
          width: 33.3%;
          padding: rem(44);
        }
        @include breakpoint($xx-large) {
          width: 25%;
          padding: rem(44);
        }

        &Image {
          overflow: hidden;
          border-radius: rem(6);
        }
      }
    }
  }
}
