@import "./Variables.scss";
@import "./Mixins.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "InterFace", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

select,
select option,
button {
  font-family: "InterFace", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
}
h1 {
  font-weight: 800;
}
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

// Select customize
.selector {
  &__input {
    color: transparent;
  }
}

.state-select {
  .selector {
    width: rem(50);

    &__control {
      border: 0;
      min-height: auto;
      box-shadow: none;
      cursor: pointer;
      background-color: transparent;
    }
    &__indicators {
      display: none;
    }
    &__value-container {
      padding-left: 0;
      text-transform: uppercase;
    }
    &__menu {
      margin-top: rem(4);
      background-color: $primary;
    }
    &__option {
      cursor: pointer;
      text-transform: uppercase;
      transition: all 0.2s ease-in;

      &--is-selected {
        background-color: $white;
        color: $grey;
      }
      &--is-focused {
        background-color: $grey1;
      }
    }
  }
}

// Hero Slider
.hero-slider {
  height: auto;

  .slick-list,
  .slick-track,
  .slick-slide > div,
  .slick-slide > div > div {
    height: 100%;
  }

  .slick-list {
    .slick-track {
      display: flex;
      align-items: stretch;

      .slick-slide {
        display: flex;
        align-self: stretch;
        height: unset;
        > div {
          width: 100%;
        }
      }
    }
  }

  .slick-dots {
    @include breakpoint($large) {
      bottom: rem(45);
      right: rem(24);
      text-align: right;
    }
    @include breakpoint($xx-large) {
      right: calc(#{rem(48)} + #{rem(24)});
    }
    @include breakpoint($webXLarge) {
      right: calc(#{rem(48)} + #{rem(24)} + (50% - #{rem(1920/2)}));
    }

    li {
      margin: 0;
      &.slick-active {
        button {
          &::before {
            opacity: 1;
            color: $primary;
            transition: all 0.2s ease-in;
          }
        }
      }

      button {
        &::before {
          opacity: 1;
          color: $white;
        }
        &:focus::before,
        &:hover::before {
          color: $primary;
          opacity: 0.5;
        }
      }
    }
  }
}

// TrustMaker slider
.trustMaker-slider {
  .slick-slider {
    position: relative;

    .slick-list {
      margin: 0 rem(-20);
      @include breakpoint($large) {
        padding: 0;
        margin: 0;
      }

      .slick-track {
        display: flex;
      }

      .slick-slide {
        width: 68vw;
        padding: 0 rem(20);
        @include breakpoint($large) {
          padding: 0;
          width: auto;
        }
      }
    }

    .slick-dots {
      @include breakpoint($large) {
        bottom: rem(-105);
        text-align: right;
      }

      li {
        margin: 0;
        &.slick-active {
          button {
            &::before {
              opacity: 1;
              color: $primary;
              transition: all 0.2s ease-in;
            }
          }
        }

        button {
          &::before {
            opacity: 1;
            color: $grey;
          }
          &:focus::before,
          &:hover::before {
            color: $primary;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

// Estate logo slider
.estate-logo-slider {
  .slick-slider {
    position: relative;

    .slick-list {
      .slick-track {
        display: flex;
      }

      .slick-slide {
        width: rem(168);
        padding-right: rem(12);
        @include breakpoint($medium) {
          padding-right: rem(24);
          width: rem(360);
        }
      }
    }

    .slick-dots {
      @include breakpoint($large) {
        bottom: rem(-105);
        right: rem(24);
        text-align: right;
        margin-top: rem(262);
      }
      @include breakpoint($xx-large) {
        right: calc(#{rem(48)} + #{rem(24)});
      }
      @include breakpoint($webXLarge) {
        right: calc(#{rem(48)} + #{rem(24)} + (50% - #{rem(1920/2)}));
      }

      li {
        margin: 0;
        &.slick-active {
          button {
            &::before {
              opacity: 1;
              color: $primary;
              transition: all 0.2s ease-in;
            }
          }
        }

        button {
          &::before {
            opacity: 1;
            color: $white;
          }
          &:focus::before,
          &:hover::before {
            color: $primary;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
