// Breakpoints

$webDesktop: 1025px;
$webLarge: 1600px;
$webXLarge: 1920px;

$medium: 768px;
$large: 1024px;
$x-large: 1280px;
$xx-large: 1440px;

// Colors
$primary: #ffcb05;
$grey: #212121;
$light-grey: #343434;
$black: #171717;
$white: #ffffff;
$white1: #ecf0f3;
$white2: #eef2f5;
$red: #ed1c24;
$success: #64d48b;
