@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.hero {
  min-height: 100vh;

  &Wrapper {
    height: 100%;
    padding-top: rem(204);
    padding-bottom: rem(204);
    @include grid-container;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    align-items: center;
    @include breakpoint($large) {
      padding-top: rem(300);
      padding-bottom: rem(300);
      @include grid(1, 12);
    }
  }

  &LogoWrapper {
    grid-column: 11 / span 2;
    display: none;
    @include breakpoint($large) {
      display: block;
    }
  }

  &Content {
    @include breakpoint($large) {
      grid-column: 1 / span 7;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 6;
    }
    @include breakpoint($webLarge) {
      grid-column: 2 / span 5;
    }

    h1 {
      color: $white;
      font-size: rem(32);
      line-height: rem(42);
      margin-bottom: rem(32);
      text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
      @include breakpoint($medium) {
        font-size: rem(56);
        line-height: rem(56);
      }
      @include breakpoint($large) {
        margin-bottom: rem(40);
      }
    }

    p {
      color: $white;
      font-weight: normal;
      font-size: rem(16);
      line-height: rem(26);
      letter-spacing: rem(0.25);
      @include breakpoint($medium) {
        font-size: rem(22);
        line-height: rem(32);
      }
    }
  }

  &ButtonWrapper {
    display: none;
    @include breakpoint($medium) {
      margin-top: rem(32);
      display: flex;
    }
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }
    column-gap: 16px;
  }
}
