@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.hero {
  height: 100vh;
  padding-top: rem(110);
  min-height: rem(700);
  max-height: rem(1280);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply, normal;
  @include breakpoint($medium) {
    padding: 0;
  }

  &Wrapper {
    height: 100%;
    @include grid-container;
    align-items: center;
    @include breakpoint($medium) {
      display: grid;
    }
    @include breakpoint($large) {
      @include grid(1, 12);
    }
  }

  &LogoWrapper {
    display: none;
    @include breakpoint($large) {
      display: block;
      width: rem(250);
      grid-column: 11 / span 2;
    }
  }

  &Content {
    @include breakpoint($large) {
      grid-column: 1 / span 7;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 6;
    }
    @include breakpoint($webLarge) {
      grid-column: 2 / span 5;
    }

    h1 {
      font-size: rem(32);
      line-height: rem(42);
      margin-bottom: rem(32);
      text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
      @include breakpoint($medium) {
        font-size: rem(56);
        line-height: rem(56);
      }
      @include breakpoint($large) {
        margin-bottom: rem(40);
      }
    }

    p {
      font-weight: normal;
      font-size: rem(16);
      line-height: rem(26);
      letter-spacing: rem(0.25);
      @include breakpoint($medium) {
        font-size: rem(22);
        line-height: rem(32);
      }
    }
  }

  &ButtonWrapper {
    display: none;
    @include breakpoint($medium) {
      margin-top: rem(32);
      column-gap: rem(16);
      display: flex;
    }
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }
  }
}
