@import "@styles/mixins";
@import "@styles/variables";

.breadCrumb {
  @include breakpoint($medium) {
  }

  ul {
    display: flex;
    align-items: center;

    & li {
      position: relative;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: rem(4);

        &::after {
          content: "/";
          display: block;
          margin-left: rem(4);
          transform: rotate(180deg);
          font-size: rem(12);
          position: relative;
          bottom: 0;
          text-shadow: none;
        }
      }

      & a {
        font-weight: 400;
        font-size: rem(12);
        line-height: rem(28);
        text-transform: capitalize;
        transition: all 0.35s cubic-bezier(1, 0.885, 0.72, 1);
        @include breakpoint($medium) {
          font-size: rem(14);
        }

        &:first-letter {
          text-transform: uppercase;
        }

        &:hover {
          opacity: 0.75;
          text-decoration: underline;
        }
      }
    }
  }
}
