@import "@styles/mixins";
@import "@styles/variables";

.hero {
  position: relative;
  padding-top: rem(78);
  background-color: $white;
  @include breakpoint($large) {
    padding-top: rem(135);
  }

  &Wrapper {
    @include grid-container;
    padding-bottom: rem(72);

    @include breakpoint($large) {
      @include grid(1, 12);
      row-gap: 0 !important;
      padding-bottom: rem(100);
    }
  }

  &FilterBar {
    width: 100%;
    transform: translateY(50%);
    z-index: 1;
    position: relative;
  }

  &Breadcrumb {
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
  }

  &Content {
    position: relative;
    margin-top: rem(64);
    @include breakpoint($large) {
      margin-top: rem(44);
      align-items: center;
      grid-column: 1 / span 12;
      @include grid(1, 12);
    }

    h1 {
      color: $grey;
      @include breakpoint($large) {
        grid-column: 1 / span 7;
        margin-bottom: rem(24);
      }
      @include breakpoint($xx-large) {
        grid-column: 2 / span 5;
      }
    }

    &Text {
      @include breakpoint($large) {
        grid-column: 8 / span 5;
      }
      @include breakpoint($xx-large) {
        grid-column: 8 / span 4;
      }

      p {
        color: $grey;
      }
    }
  }
}
