@import "@styles/mixins";
@import "@styles/variables";

.leadingInfo {
  position: relative;
  padding: rem(56) 0;
  overflow: hidden;
  @include breakpoint($large) {
    padding: rem(190) 0 rem(230);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $grey2;

    @include breakpoint($large) {
      width: 40%;
      clip-path: polygon(0 0, 100% 0, 40% 100%, 0 100%);
    }
  }

  &Wrapper {
    position: relative;
    @include grid-container;
    @include breakpoint($large) {
      @include grid(1, 12);
    }

    h2 {
      line-height: 1.2;
      font-size: rem(24);
      color: $light-grey;
      margin-bottom: rem(24);
      @include breakpoint($large) {
        font-size: rem(48);
      }
    }

    a {
      font-weight: bold;
      color: $grey;
      text-decoration: underline;
      @include breakpoint($large) {
        font-size: rem(18);
      }
    }
  }

  &Left {
    margin-bottom: rem(56);
    @include breakpoint($large) {
      grid-column: 1 / span 6;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 5;
    }

    &Content {
      p {
        &:not(:last-of-type) {
          margin-bottom: rem(16);
          @include breakpoint($large) {
            margin-bottom: rem(24);
          }
        }
      }
      &More {
        margin-top: rem(24);
      }
    }
  }

  &Right {
    @include breakpoint($large) {
      grid-column: 9 / span 4;
    }
    @include breakpoint($xx-large) {
      grid-column: 8 / span 3;
    }
    h3 {
      font-weight: bold;
      font-size: rem(18);
      line-height: rem(26);
      color: $light-grey;
      margin-bottom: rem(8);
    }

    p {
      color: $light-grey;
    }

    &Panel {
      padding: rem(24);
      border-radius: rem(8);
      border: rem(1) solid rgba($grey, 0.5);
      background-color: $white;

      &Location {
        padding-bottom: rem(16);
        border-bottom: rem(1) solid $primary;
        @include breakpoint($large) {
          padding-bottom: rem(24);
        }

        a {
          display: inline-flex;
          margin-top: rem(24);
        }
      }

      &Price {
        padding: rem(16) 0;
        border-bottom: rem(1) solid $primary;
        @include breakpoint($large) {
          padding: rem(24) 0;
        }
      }

      &Sales {
        padding-top: rem(16);
      }
    }
  }
}
