@import "@styles/mixins";
@import "@styles/variables";

.leadingInfo {
  position: relative;
  padding: rem(56) 0;
  overflow: hidden;
  background-color: $grey2;
  @include breakpoint($large) {
    padding: rem(190) 0 rem(250);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: $grey2;

    @include breakpoint($large) {
      width: 100%;
      background: linear-gradient(
        180.04deg,
        $white -0.04%,
        rgba($white, 0) 86.59%
      );
      clip-path: polygon(45% 0, 100% 0, 100% 100%, 25% 100%);
    }
  }

  &Wrapper {
    position: relative;
    @include grid-container;
    @include breakpoint($large) {
      @include grid(1, 12);
    }

    h2 {
      line-height: 1.2;
      font-size: rem(24);
      color: $light-grey;
      margin-bottom: rem(24);
      @include breakpoint($large) {
        font-size: rem(48);
      }
    }

    a {
      font-weight: bold;
      color: $grey;
      text-decoration: underline;
      @include breakpoint($large) {
        font-size: rem(18);
      }
    }
  }

  &Left {
    margin-bottom: rem(56);
    @include breakpoint($large) {
      grid-column: 1 / span 6;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 5;
    }

    &Content {
      p {
        &:not(:last-of-type) {
          margin-bottom: rem(16);
          @include breakpoint($large) {
            margin-bottom: rem(24);
          }
        }
      }
      &More {
        margin-top: rem(24);
      }
    }
  }

  &Right {
    @include breakpoint($large) {
      grid-column: 9 / span 4;
    }
    @include breakpoint($xx-large) {
      grid-column: 8 / span 4;
    }

    &Panel {
      @include breakpoint($xx-large) {
        margin-left: auto;
        width: rem(420);
      }
    }
  }
}
