@import "@styles/mixins";
@import "@styles/variables";

.estateCard {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  @include breakpoint($medium) {
  }

  &.estateCardSimple {
    .estateCardTopImage {
      height: rem(200);
      min-width: rem(300);
      @include breakpoint($large) {
        height: rem(220);
        min-width: rem(400);
      }
    }
  }

  &Top {
    position: relative;
    overflow: hidden;
    @include breakpoint($medium) {
      border-radius: rem(6) rem(6) 0 0;
    }

    &Image {
      width: 100%;
      height: rem(300);
      position: relative;
      @include breakpoint($large) {
        height: rem(350);
      }
    }

    &Logo {
      width: rem(156);
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      display: grid;
      @include breakpoint($large) {
        border-radius: rem(6) 0;
      }
    }
  }

  &Bottom {
    flex: 1;
    padding: rem(16);
    background: $white;
    border: rem(1) solid $grey3;
    @include breakpoint($medium) {
      border-radius: 0 0 rem(6) rem(6);
    }

    p {
      font-size: rem(16);
      @include breakpoint($large) {
        font-size: rem(18);
      }
    }

    &Info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      span {
        display: block;
        color: rgba($grey, 0.5);
        font-size: rem(14);
        margin-left: rem(12);
        @include breakpoint($webLarge) {
          font-size: rem(16);
        }
      }

      &Detail {
        display: flex;
        align-items: center;
        margin: rem(16) 0 rem(8);
      }
    }
  }
}
