@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.advantages {
  position: relative;
  padding: rem(40) 0 rem(140);
  background: $grey2;
  @include breakpoint($large) {
    padding: rem(130) 0 rem(210);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(
      179.44deg,
      $white 61.01%,
      rgba(255, 255, 255, 0) 103.32%
    );
  }

  &Wrapper {
    position: relative;
    @include grid-container;
    @include breakpoint($large) {
      @include grid(1, 12, 0);
    }
  }

  &Inner {
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }
  }

  &Content {
    &Heading {
      margin-bottom: rem(56);
      @include breakpoint($x-large) {
        max-width: 55%;
        margin-bottom: rem(140);
      }

      h2 {
        margin-bottom: rem(24);
      }
    }
  }

  h4 {
    color: $grey;
    margin-bottom: rem(36);
    @include breakpoint($large) {
      margin-bottom: rem(84);
    }
  }

  &List {
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }
  }
}
