@import "@styles/mixins";
@import "@styles/variables";

.hero {
  position: relative;
  padding-top: rem(78);
  background-color: $white;
  @include breakpoint($large) {
    padding-top: rem(135);
  }

  &Wrapper {
    padding-bottom: rem(25);
    @include grid-container;

    @include breakpoint($large) {
      @include grid(1, 12);
      padding-bottom: rem(54);
    }
  }

  &FilterBar {
    width: 100%;
    transform: translateY(50%);
    z-index: 1;
    position: relative;
  }

  &Breadcrumb {
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
  }

  &Content {
    margin-top: rem(44);
    position: relative;
    @include breakpoint($large) {
      margin: 0;
      align-items: center;
      grid-column: 1 / span 12;
      @include grid(1, 12);
    }

    h2 {
      color: $grey;
      margin-bottom: rem(24);
      @include breakpoint($large) {
        grid-column: 1 / span 5;
        margin: 0;
      }
      @include breakpoint($xx-large) {
        grid-column: 2 / span 4;
      }
    }

    &Text {
      @include breakpoint($large) {
        grid-column: 8 / span 5;
      }
      @include breakpoint($xx-large) {
        grid-column: 8 / span 4;
      }

      p {
        color: $grey;
      }
    }
  }
}
