@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.imageButton {
  padding: rem(12) rem(16);
  color: $grey;
  font-weight: 700;
  font-size: rem(12);
  line-height: rem(12);
  letter-spacing: rem(1);
  font-family: inherit;
  border-radius: rem(6);
  transition: all 0.3s ease;
  background-color: $grey1;
  border-width: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $grey2;
  }
  &:focus {
    background-color: $primary;
  }

  &.homeFilterButton {
    flex-direction: column;
    @include breakpoint($webDesktop) {
      flex-direction: row;
    }
  }

  @include breakpoint($medium) {
    font-size: rem(16);
    line-height: rem(20);
  }

  &Icon {
    display: inline-flex;
    margin-bottom: rem(10);
    @include breakpoint($medium) {
      margin: 0;
      margin-right: rem(16);
    }
  }
}
