@import "@styles/mixins";
@import "@styles/variables";

.oldPosts {
  background-color: $grey2;
  @include breakpoint($large) {
  }

  h2 {
    font-size: rem(26);
    line-height: rem(33);
    margin-bottom: rem(24);
    @include breakpoint($large) {
      font-size: rem(32);
      line-height: rem(44);
      grid-column: 1 / span 12;
      margin-bottom: rem(40);
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }
  }
}
