@import "@styles/mixins";
@import "@styles/variables";

.landListing {
  padding-top: rem(95);
  background-color: $grey1;
  @include breakpoint($large) {
    padding-top: rem(115);
  }

  &Wrapper {
    @include breakpoint($medium) {
      @include grid-container;
    }
  }
  &Container {
    @include breakpoint($large) {
      @include grid(1, 12);
    }
  }

  &Notice {
    @include breakpoint($large) {
      width: 75%;
      margin: 0 auto;
      margin-bottom: rem(30);
    }
  }

  &View {
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }

    &CTA {
      padding-left: rem(16);
      margin-top: rem(68);
      @include breakpoint($large) {
        padding: 0;
        margin-top: rem(52);
      }
    }
  }

  &Cards {
    display: grid;
    gap: rem(18);
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: 1fr;
    @include breakpoint($medium) {
      row-gap: rem(24);
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    @include breakpoint($webLarge) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }
}
