@import "@styles/mixins";
@import "@styles/variables";

.registerPanel {
  position: relative;
  background: #edf2f5;
  @include grid-container;
  @include breakpoint($large) {
    @include grid(1, 12);
  }
  form {
    & > *:not(:last-child) {
      margin-bottom: 16px;
    }
    input {
      width: 100%;
      padding: 12px 16px;
      border: 1px solid #212121;
      border-radius: rem(4);
      color: #212121;
    }
    button {
      padding: 11px 100px;
      border: none;
      background-color: #212121;
      color: #ffcb05;
      font-weight: bold;
      font-size: 18px;
      line-height: 34px;
    }
  }
}
.terms {
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  span {
    padding: 0 0.5rem;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
  }
  input[type="checkbox"] {
    position: relative;
    width: 24px;
    display: flex;
    flex-shrink: 0;
    height: 24px;
    padding: 0;
    appearance: none;
    border: 1px solid #212121;
    border-radius: 4px;
    transition-duration: 0.3s;
    background-color: #ffffff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    &:checked {
      background-color: #212121;
      &::before {
        content: "\2713";
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        width: 25px;
        height: 25px;
        color: #ffcb05;
        transform: rotate(10deg);
      }
    }
  }
}
.ModuleWrapper {
  position: relative;
  border-radius: rem(16);
  padding: rem(80);
  grid-column: 2 / span 10;
  display: flex;
  column-gap: rem(80);
  margin-bottom: rem(42);
  background-color: #ffcb05;
  background: linear-gradient(
    99.2deg,
    #ffcd07 41.93%,
    #ffae50 82.35%,
    #ffce08 99.11%
  );
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  &::after {
    content: " ";
    position: absolute;
    background: #ffcb05;
    box-shadow: -20px -20px 100px #ffa500;
    width: 150%;
    height: 600px;
    top: 0;
    left: -120px;
    transform: rotate(-45deg);
    z-index: 0;
  }
  h5 {
    margin-bottom: rem(24);
    color: #393839;
  }
  h2 {
    color: #212121;
    margin-bottom: rem(24);
    span {
      color: #fff;
    }
  }
  p {
    color: #393839;
    max-width: rem(576);
  }
}
.ModuleLeft {
  z-index: 1;
}
.ModuleRight {
  z-index: 1;
  max-width: rem(380);
  width: 100%;
}
