@import "@styles/mixins";
@import "@styles/variables";

.bannerGallery {
  height: rem(525);
  @include breakpoint($large) {
    height: rem(742);
    display: grid;
    gap: rem(8);
    grid-template-areas: "main side" "main side";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 8.5fr 3.5fr;
  }
  @include breakpoint($xx-large) {
    grid-template-columns: 9fr 3fr;
  }

  &Main {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include breakpoint($large) {
      grid-area: main;
    }

    &Logo {
      width: rem(163);
      border-radius: rem(6);
      position: absolute;
      top: rem(16);
      right: rem(16);
      overflow: hidden;
      @include breakpoint($large) {
        display: none;
      }
    }
  }

  &Side {
    display: none;
    @include breakpoint($large) {
      display: grid;
      gap: rem(8);
      grid-template-rows: 1fr 1fr;
      grid-area: side;
    }

    &Top {
      @include breakpoint($large) {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      & > div {
        cursor: pointer;
      }
    }

    &Bottom {
      @include breakpoint($large) {
        position: relative;
        background: url("/assets/images/estate-detail/img-gallery-bottom.jpg")
          no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }

  &ViewButton {
    position: absolute;
    left: 50%;
    bottom: rem(34);
    transform: translateX(-50%);

    button {
      display: inline-flex;
      align-items: center;
      padding: rem(14) rem(18);
      border-radius: rem(4);
      box-shadow: 0 0 rem(12) rgba(0, 0, 0, 0.25);
      white-space: nowrap;

      @include breakpoint($webLarge) {
        padding-left: rem(24);
        padding-right: rem(24);
      }

      &:hover svg {
        circle {
          fill: $white;
        }
      }
    }
    span {
      margin-left: rem(12);
    }
  }
}
