@import "@styles/mixins";
@import "@styles/variables";

.contentPage {
  padding: rem(120) 0 rem(80);
  @include breakpoint($large) {
    padding: rem(180) 0 rem(100);
  }

  &Wrapper {
    @include grid-container;
    @include breakpoint($large) {
      @include grid(1, 12);
    }
  }

  &Container {
    @include breakpoint($large) {
      grid-column: 2 / span 10;
    }
    @include breakpoint($xx-large) {
      grid-column: 3 / span 8;
    }

    hr {
      margin: 0.75em 0;
    }

    h2,
    h3,
    h4,
    h5 {
      margin-bottom: rem(24);
    }

    p {
      margin-bottom: rem(10);
    }

    p + h2,
    p + h3,
    p + h4,
    p + h5 {
      margin-top: rem(24);
    }

    h2 + p,
    h3 + p,
    h4 + p,
    h5 + p {
      margin-top: rem(16);
    }

    ul {
      margin-top: rem(16);

      li {
        color: $grey;
        font-size: rem(18);
        line-height: rem(30);
        padding-left: rem(4);
        @include breakpoint($large) {
          padding-bottom: rem(8);
        }

        &::before {
          content: "•";
          padding-right: rem(8);
        }
      }
    }
  }
}
