@import "@styles/mixins";
@import "@styles/variables";

.trustMakers {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: $grey2;
    clip-path: polygon(0 0, 100% 0, -10% 100%, 0 100%);

    @include breakpoint($webDesktop) {
      clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
    }
  }
}
