@import "@styles/mixins";
@import "@styles/variables";

.header {
  height: rem(48);
  width: calc(100% - #{rem(16)});
  position: fixed;
  top: rem(16);
  right: 0;
  z-index: 1000;
  @include breakpoint($webDesktop) {
    top: rem(24);
    height: rem(88);
    width: calc(100% - #{rem(24)});
  }
  @include breakpoint($webLarge) {
    width: calc(100% - #{rem(48)});
  }

  &Sticky {
    top: 0;
  }
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: rem(-2);
    width: 100%;
    height: rem(2);
    background-color: $white;
  }

  &Brand {
    height: 100%;
    width: rem(155.45);
    z-index: 1;
    @include breakpoint($webDesktop) {
      width: rem(285);
      min-width: rem(285);
    }

    a {
      display: inline-flex;
    }
  }

  &Menu {
    flex: 1;
    position: relative;
    height: 100%;
    padding-left: rem(8);
    padding-right: rem(16);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $primary;
    @include breakpoint($webDesktop) {
      align-items: flex-end;
      flex-direction: column;
      padding-right: 0;
      padding-left: rem(60);
    }

    &::before {
      content: "";
      position: absolute;
      left: rem(-20);
      width: rem(25);
      height: 100%;
      background-color: $primary;
    }

    &MobileIcon {
      z-index: 1;
      @include breakpoint($webDesktop) {
        display: none;
      }

      &Open {
        span {
          background-color: $primary;
        }
      }
    }

    &Top {
      display: none;
      @include breakpoint($webDesktop) {
        display: block;
        padding-right: rem(36);
      }

      &Select {
        display: flex;
        align-items: center;

        span {
          display: inline-block;
          color: $grey;
          font-size: rem(14);
          margin: 0 rem(4);

          &:first-of-type {
            font-weight: 700;
            margin-right: rem(12);
          }
        }
      }
    }

    &List {
      display: none;
      @include breakpoint($webDesktop) {
        width: 100%;
        flex: 1;
        display: flex;
        align-items: stretch;
      }

      &Items {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;

        li {
          height: 100%;
          flex: none;

          a {
            height: 100%;
            display: grid;
            align-items: center;
            padding: rem(10) rem(16);
            transition: 0.25s ease-in-out;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &GreedyMenu {
        min-width: rem(240);
        position: absolute;
        top: calc(100% + #{rem(2)});
        left: 50%;
        transform: translateX(-50%);
        background-color: $white;
      }

      &GreedyIcon {
        display: none;
        @include breakpoint($webDesktop) {
          display: flex;
          align-items: center;
          position: relative;
        }

        ul {
          li {
            a {
              display: block;
              padding: rem(18) rem(24);
              transition: 0.25s ease-in-out;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
