@import "@styles/mixins";
@import "@styles/variables";

.similarEstates {
  padding: rem(80) 0;
  background-color: $grey2;
  @include breakpoint($large) {
    padding: rem(160) 0;
  }

  &Wrapper {
    @include breakpoint($medium) {
      @include grid-container;
    }
    @include breakpoint($large) {
      @include grid(1, 12);
    }

    h2 {
      margin: 0 rem(16) rem(24);
      @include breakpoint($medium) {
        margin: 0;
        margin-bottom: rem(24);
      }
      @include breakpoint($large) {
        margin-bottom: rem(48);
      }
    }
  }

  &Container {
    margin-top: rem(16);
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }
  }

  &List {
    display: grid;
    gap: rem(18);
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: 1fr;
    @include breakpoint($medium) {
      row-gap: rem(24);
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
  }
}
