@import "@styles/mixins";
@import "@styles/variables";

.map {
  height: rem(400);
  @include breakpoint($medium) {
    height: rem(700);
  }

  &FullScreenControl {
    position: absolute;
    top: rem(80);
    right: rem(20);
    @include breakpoint($large) {
      right: rem(80);
    }
  }
}

.cluster {
  &Marker {
    position: relative;
    transform: translate(-20px, -26px);
    cursor: pointer;

    span {
      color: $white;
      font-size: rem(20);
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
