@import "@styles/mixins";
@import "@styles/variables";

.filterDropdown {
  position: relative;
  @include breakpoint($large) {
  }

  &Button {
    padding: rem(12) rem(16);
    color: $grey;
    font-weight: 700;
    font-size: rem(16);
    line-height: 1;
    letter-spacing: rem(1);
    font-family: inherit;
    border-radius: rem(6);
    transition: all 0.3s ease;
    background-color: $grey1;
    border-width: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(48);
    @include breakpoint($medium) {
      height: rem(56);
      font-size: rem(16);
      line-height: rem(20);
    }

    &:hover {
      background-color: $grey2;
    }
    &:focus {
      background-color: $primary;
    }

    span {
      margin-right: rem(12);
    }

    p {
      color: $grey;
      text-align: left;
      margin-top: 0;
      font-size: rem(14);
      line-height: rem(20);
      font-weight: 300;
    }

    &Icon {
      display: inline-flex;
      margin-left: rem(12);
    }
  }

  &Menu {
    width: 100%;
    max-width: 100%;
    max-height: rem(240);
    position: absolute;
    top: calc(100% + #{rem(2)});
    left: 50%;
    transform: translateX(-50%);
    border-radius: rem(6);
    background-color: $grey1;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 500;
    box-shadow: 0px 0px 1px 0px #00000040;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: #e4e4e4;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ffcb05;
      border-radius: 50px;
    }

    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $grey;
        text-align: left;
        font-size: rem(14);
        line-height: rem(20);
        padding: rem(18) rem(24);
        text-transform: capitalize;
        transition: all 0.3s ease-in;
        cursor: pointer;

        &::first-letter,
        &::first-line {
          text-transform: uppercase;
        }
        &:hover {
          background-color: $white;
        }
      }
    }
  }
}

.active {
  background-color: $white;
}
