@import "@styles/mixins";
@import "@styles/variables";

.textBlock {
  position: relative;
  overflow: hidden;
  padding: rem(80) 0;
  @include breakpoint($large) {
    padding: rem(160) 0;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: -3vh;
  //   left: 0;
  //   width: 100%;
  //   height: 100vh;
  //   background-image: url("/assets/images/img-shape-pattern.png");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   @include breakpoint($large) {
  //     top: -8vh;
  //     left: -20%;
  //     width: 120%;
  //     height: 70%;
  //   }
  // }

  &Wrapper {
    @include grid-container;
    @include breakpoint($large) {
      @include grid(1, 12);
    }
  }

  &Content {
    position: relative;
    @include breakpoint($large) {
      grid-column: 2 / span 10;
    }
    @include breakpoint($xx-large) {
      grid-column: 3 / span 8;
    }

    h2 {
      letter-spacing: rem(0.25);
      margin-bottom: rem(24);
      @include breakpoint($large) {
        margin-bottom: rem(48);
      }
    }

    p {
      &:not(:last-of-type) {
        margin-bottom: rem(18);
      }
    }
  }
}

.defaultBG {
  background: $grey2;
}
