@use "sass:math";

@import "@styles/mixins";
@import "@styles/variables";

.perfectEstate {
  min-height: rem(770);
  padding: rem(56) 0 rem(32);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply, normal;
  overflow: hidden;

  @include breakpoint($large) {
    min-height: rem(950);
    padding: rem(160) 0 rem(95);
  }

  &Wrapper {
    @include grid-container;
    height: 100%;

    @include breakpoint($large) {
      @include grid(1, 12);
    }
  }

  &Content {
    position: relative;
    @include breakpoint($large) {
      grid-column: 1 / span 12;
      @include grid(1, 12);
    }

    h2 {
      color: $white;
      margin-bottom: rem(24);
      @include breakpoint($large) {
        grid-column: 1 / span 5;
        margin: 0;
      }
      @include breakpoint($xx-large) {
        grid-column: 2 / span 4;
      }
    }

    &Text {
      @include breakpoint($large) {
        grid-column: 8 / span 5;
      }
      @include breakpoint($xx-large) {
        grid-column: 8 / span 4;
      }

      p {
        font-size: rem(16);
        line-height: rem(26);
        letter-spacing: rem(0.25);
        color: $white;
        @include breakpoint($large) {
          font-size: rem(20);
          line-height: rem(38);
        }
      }
    }
  }

  &Logos {
    margin-top: rem(80);
    @include breakpoint($large) {
      margin-top: rem(140);
      grid-column: 1 / span 12;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }

    p {
      font-weight: 700;
      font-size: rem(16);
      line-height: rem(65);
      color: $white;
      @include breakpoint($large) {
        font-size: rem(18);
        margin-bottom: rem(24);
      }
    }

    &Slider {
      padding-bottom: rem(50);
      @include grid(2, 3);
      @include breakpoint($large) {
        padding-bottom: rem(24);
      }
    }

    &CTA {
      padding-right: rem(16);
      @include breakpoint($medium) {
        padding: 0;
      }

      button {
        width: 100%;

        @include breakpoint($medium) {
          width: auto;
        }
      }
    }
  }
}
