@import "@styles/mixins";
@import "@styles/variables";

.advantagesList {
  &Mobile {
    @include breakpoint($medium) {
      display: none;
    }
    &Progressbar {
      margin-top: rem(24);
      width: 100%;
      height: rem(6);
      background: $grey2;
      border-radius: rem(26);
      overflow: hidden;

      &Fill {
        height: 100%;
        background: $primary;
        transition: all 0.3s ease;
      }
    }
  }

  &Desktop {
    display: none;
    @include breakpoint($medium) {
      display: grid;
      @include grid(3, 4);
      gap: rem(64);
    }
    @include breakpoint($large) {
      gap: rem(100);
    }
  }
}

.singleAdv {
  h3 {
    color: $primary;
    font-size: rem(32);
    line-height: rem(38);
    margin: rem(16) 0;
  }
}
