@import "@styles/mixins";
@import "@styles/variables";

.ContentWithImage {
  position: relative;
  background: #edf2f5;
  @include grid-container;
  padding-top: rem(60);
  padding-bottom: rem(60);
  @include breakpoint($large) {
    @include grid(1, 12);
    padding-top: rem(130);
    padding-bottom: rem(78);
  }
}
.TopBlock {
  grid-column: 2 / span 5;
  margin-bottom: rem(42);
  h5 {
    margin-bottom: rem(24);
    color: #393839;
  }
  h2 {
    color: #212121;
    margin-bottom: rem(24);
  }
  p {
    color: #393839;
  }
}
.ContentLeft {
  grid-column: 2 / span 4;
  ul {
    color: #393839;
    list-style: disc;

    padding-left: 20px;
  }
}
.ContentRight {
  grid-column: 7 / span 11;
  .Image {
    max-width: 732px;
  }
}
.BottomBlock {
  margin-top: rem(75);
  grid-column: 2 / span 12;
}
