@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.offersContainer {
  padding-top: rem(84);
  padding-bottom: rem(36);
  background-color: $grey1;

  .offersWrapper {
    display: grid;
    @include breakpoint($large) {
      @include grid(1, 12);
      grid-row-gap: rem(56);
    }
    @include below($medium) {
      @include grid-container;
      grid-row-gap: rem(24);
    }
    .recommendedOffer {
      grid-column: 2 / span 10;
      @include below($medium) {
        display: none;
      }
    }
    .offersList {
      grid-column: 2 / span 10;
      display: grid;
      @include breakpoint($large) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: rem(48);
      }
      @include below($medium) {
        @include grid-container;
        grid-row-gap: rem(24);
      }
    }
    .moreOffer {
      grid-column: 2 / span 10;
      @include below($medium) {
        @include grid-container;
      }
    }
  }
}
