@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.offers {
  padding-top: rem(84);
  padding-bottom: rem(36);
  background-color: $grey1;

  .offersWrapper {
    @include grid-container;
    @include breakpoint($large) {
      @include grid(1, 12);
    }

    &Inside {
      display: flex;
      flex-wrap: wrap;
      @include breakpoint($large) {
        grid-column: 1 / span 12;
      }
      @include breakpoint($xx-large) {
        grid-column: 2 / span 10;
      }
    }

    .offersList {
      @include grid(1, 2);
      @include breakpoint($large) {
        column-gap: rem(48) !important;
      }
    }
  }

  &Single {
    width: 50%;

    &Left {
      @include breakpoint($large) {
        padding-right: rem(24);
      }
    }
    &Right {
      @include breakpoint($large) {
        padding-left: rem(24);
      }
    }

    &Large {
      width: 100%;
    }

    &:not(:last-of-type) {
      margin-bottom: rem(24);
      @include breakpoint($large) {
        margin-bottom: rem(56);
      }
    }
  }
}
