@import "@styles/mixins";
@import "@styles/variables";

.hero {
  position: relative;
  padding-top: rem(78);
  background-color: $white;
  @include breakpoint($large) {
    padding-top: rem(135);
  }

  &::before {
    @include breakpoint($large) {
      content: "";
      width: 100%;
      height: rem(200);
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $grey2;
    }
  }

  &Container {
    @include breakpoint($large) {
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      flex-direction: column-reverse;
    }
  }

  &Banner {
    position: relative;
    width: 100%;
    height: rem(250);
    @include breakpoint($medium) {
      height: rem(400);
    }
    @include breakpoint($large) {
      @include grid-container;
      @include grid(1, 12);
    }

    .heroBannerTextWrapper {
      width: 100%;
      padding: rem(8) rem(16);
      grid-column: 1 / span 12;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $grey;
      opacity: 0.9;
      z-index: 1;
      @include breakpoint($large) {
        display: none;
      }

      .heroBannerText {
        color: $white;
        font-size: rem(12);
        line-height: rem(16);
      }
    }

    .heroBannerImage {
      position: relative;
      width: 100%;
      height: 100%;
      @include breakpoint($large) {
        grid-column: 2 / 12;
        border-radius: rem(16);
        overflow: hidden;
      }
      @include breakpoint($xx-large) {
        grid-column: 3 / 11;
      }
    }
  }

  &Wrapper {
    width: 100%;
    @include grid-container;
    @include breakpoint($large) {
    }
  }

  &Breadcrumb {
    @include grid-container;
    margin-bottom: rem(12);
    @include breakpoint($large) {
      grid-column: 1 / span 12;
    }
  }

  &Content {
    position: relative;
    margin: rem(20) 0;
    @include breakpoint($large) {
      margin: rem(60) 0 rem(50);
      @include grid(1, 12);
      align-items: center;
      grid-column: 1 / span 12;
    }

    &Title {
      grid-column: 2 / 12;
      @include breakpoint($xx-large) {
        grid-column: 3 / 11;
      }

      h1 {
        color: $grey;
        font-weight: 700;
        font-size: rem(22);
        line-height: rem(28.6);
        @include breakpoint($medium) {
          font-size: rem(42);
          line-height: rem(52);
        }
      }

      p {
        display: none;
        @include breakpoint($large) {
          display: block;
          color: $grey;
          font-size: rem(18);
          line-height: rem(28);
          margin-bottom: rem(16);
        }
      }
    }
  }
}
