@import "@styles/mixins";
@import "@styles/variables";

.trustMakers {
  position: relative;
  overflow: hidden;

  &WithBackground {
    background-color: $grey2;
  }

  &Wrapper {
    padding-top: rem(60);
    padding-bottom: rem(60);
    @include grid-container;

    @include breakpoint($large) {
      @include grid(1, 12);
      padding-top: rem(130);
      padding-bottom: rem(78);
    }
  }

  &Content {
    position: relative;
    @include breakpoint($large) {
      grid-column: 1 / span 12;
      @include grid(1, 12);
    }

    h2 {
      color: $light-grey;
      margin-bottom: rem(24);
      @include breakpoint($large) {
        grid-column: 1 / span 5;
        margin: 0;
      }
      @include breakpoint($xx-large) {
        grid-column: 2 / span 5;
      }
    }

    &Text {
      @include breakpoint($large) {
        grid-column: 8 / span 5;
      }
      @include breakpoint($xx-large) {
        grid-column: 8 / span 4;
      }

      p {
        color: $grey;
        font-size: rem(16);
        line-height: rem(26);
        letter-spacing: rem(0.25);
        @include breakpoint($large) {
          font-size: rem(20);
          line-height: rem(38);
        }
      }
    }
  }

  &Slider {
    position: relative;
    margin-top: rem(56);

    @include breakpoint($large) {
      grid-column: 1 / span 12;
      margin-top: rem(100);
      padding-bottom: rem(100);
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }
  }

  &CTA {
    display: none;
    @include breakpoint($large) {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    a {
      display: inline-flex;

      span {
        display: block;
        font-weight: bold;
        font-size: rem(16);
        line-height: rem(26);
        color: $light-grey;
        margin-right: rem(24);
      }
    }
  }
}
