@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.detailPanel {
  background-color: $white;
  @include breakpoint($large) {
    background-color: $grey2;
  }

  &Wrapper {
    @include grid-container;

    @include breakpoint($large) {
      position: relative;
      padding-top: rem(280);
      padding-bottom: rem(80);
      @include grid(1, 12);
    }

    .detailHeaderWrapper {
      width: 100%;
      display: grid;
      grid-column: 3 / span 8;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;

      @include breakpoint($large) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: rem(4);
      }
    }

    .detailBodyWrapper {
      margin-bottom: rem(32);
      grid-column: 3 / span 8;
      @include breakpoint($large) {
        position: relative;
        @include grid(1, 12);
      }

      .socialShareWrapper {
        grid-column: 1 / span 1;
        @include below($medium) {
          margin-bottom: rem(20);
        }
      }

      .detailContentWrapper {
        grid-column: 2 / span 10;

        figure {
          margin: rem(24) rem(-16);
          height: rem(250);
          @include breakpoint($medium) {
            margin: rem(24) 0;
            height: rem(400);
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include breakpoint($medium) {
              border-radius: rem(16);
              overflow: hidden;
            }
          }
        }
      }

      h3 {
        font-size: rem(48);
        line-height: rem(55);
        margin-bottom: rem(16);
      }
      p {
        font-size: rem(18);
        line-height: rem(28);
      }
    }

    .detailFooterWrapper {
      grid-column: 3 / span 8;
      @include breakpoint($large) {
        @include grid(1, 12);
        grid-row-gap: rem(120);
      }

      .detailImages {
        grid-column: 1 / span 12;
        display: grid;
        @include breakpoint($large) {
          grid-template-columns: 1fr 1fr;
          grid-column-gap: rem(4);
        }
        @include below($medium) {
          grid-template-rows: 1fr 1fr;
          grid-row-gap: rem(4);
        }
      }
      .faqPanel {
        grid-column: 2 / span 10;
      }
    }
  }
}

.divider {
  border-color: $primary;
  border-style: solid;
}
