@import "@styles/mixins";
@import "@styles/variables";

.promotion {
  @include breakpoint($large) {
    display: flex;
    align-items: stretch;
  }

  h2 {
    color: $grey;
    margin-bottom: rem(24);
  }
  h5 {
    color: $grey;
    font-size: rem(16);
    line-height: rem(18);
    margin-bottom: rem(67);
    @include breakpoint($large) {
      font-size: rem(24);
      line-height: rem(32);
    }
  }

  button {
    width: 100%;
    height: rem(48);
    @include breakpoint($large) {
      width: auto;
    }
  }

  &Left {
    padding: rem(44) rem(16);
    background-image: url("/assets/icons/icon-panel-type-1.svg");
    background-size: cover;
    background-position: center;
    @include breakpoint($large) {
      width: 40%;
      padding: rem(72) rem(42);
    }
    @include breakpoint($xx-large) {
      padding: rem(100) rem(42);
    }
  }

  &Mid {
    width: 100%;
    height: rem(290);
    background-image: url("/assets/images/home/img-home-promotion.jpg");
    background-size: cover;
    background-position: center top;
    @include breakpoint($large) {
      width: 30%;
      height: auto;
    }
  }

  &Right {
    padding: rem(44) rem(16);
    background-image: url("/assets/icons/icon-panel-type-1.svg");
    background-size: cover;
    background-position: left;
    @include breakpoint($large) {
      width: 30%;
      padding: rem(72) rem(42);
    }
    @include breakpoint($xx-large) {
      padding: rem(100) rem(42);
    }
  }
}
