@import "@styles/mixins";
@import "@styles/variables";

.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(22) 0;
  cursor: pointer;

  p {
    color: $white;
  }
}
