@import "@styles/mixins";
@import "@styles/variables";

.news {
  background-color: $grey2;
  @include breakpoint($large) {
  }

  &Wrapper {
    @include grid-container;
    @include breakpoint($large) {
      @include grid(1, 12);
    }
  }

  &CTA {
    margin-top: rem(16);
    @include breakpoint($large) {
      margin-top: rem(72);
      grid-column: 1 / span 12;
    }
    @include breakpoint($xx-large) {
      grid-column: 2 / span 10;
    }
  }
}
