@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.header {
  &Wrapper {
    @include grid-container;
    @include breakpoint($large) {
      padding-top: rem(220);
      padding-bottom: rem(110);
      @include grid(1, 12);
    }
    @include breakpoint($medium) {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
    @include below($medium) {
      padding-top: 8rem;
      padding-bottom: 15rem;
    }
    h1 {
      grid-column: 2 / span 4;
    }
  }
}
