@import "@styles/mixins";
@import "@styles/variables";

.trustMark {
  // background-color: $lightest-gray;

  @include breakpoint($medium) {
  }

  &Icon {
    width: rem(56);
    height: rem(56);

    @include breakpoint($medium) {
      margin-bottom: rem(24);
    }
  }

  h3 {
    color: $primary;
    font-size: rem(48);
    font-weight: 800;
    margin-bottom: rem(4);
    @include breakpoint($large) {
      margin-bottom: rem(16);
    }
  }

  h5 {
    color: $light-grey;
    @include breakpoint($medium) {
      max-width: rem(200);
    }
  }
}
